@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  background: #fbfbfb;
}

.container {
  /* background: rgb(241, 241, 232); */
  margin: 0 auto;
  max-width: 1440px;
  max-height: 2653px;
  width: 1440px;
  height: 2653px;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04),
    0px 2px 4px rgba(96, 97, 112, 0.16);
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* margin: auto; */
}
button {
  border: none;
  cursor: pointer;
}
