@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  background: #fbfbfb;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* margin: auto; */
}
button {
  border: none;
  cursor: pointer;
}

/* img {
  width: 100%;
  height: 100%;
} */
